{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <title>CSE 442 Project</title>
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <img src="{% static 'home/images/ub.png' %}" alt="mmtuts logo">
            </div>
            <ul class="navigation">
                <a onclick="location.href='{% url 'home' %}'"><li>Home</li></a>
                <a onclick="location.href= 'polls'"><li>Polling</li></a>
                <a onclick="location.href=''"><li>Attendance</li></a>
            </ul>
            <div class="log_sign">
                       {% if user.is_authenticated %}
    <a style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px;"> You are signed in </a>
    <input type="button" onclick="location.href='{% url 'logout' %}'" value="Log Out" style="height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    margin-left: 10px;
    font-family: arial;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;">
{% else %}
<input type="button" onclick="location.href='{% url 'login' %}'" value="Log In" style="height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    margin-left: 10px;
    font-family: arial;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;">
<input type="button" onclick="location.href='{% url 'register' %}'" value="Register" style="height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    margin-left: 10px;
    font-family: arial;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;">
{% endif %}
            </div>
        </div>
    </div>
    <header class = "v-header container">
        <div class="fullscreen-video-wrap">
            <video src="{% static 'home/images/code.mov' %}" autoplay="true" loop="true"></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Welcome to Tellyou6bu6!</h1>
            <p>We want to make teaching more interesting and learning easier
                for worldwide users.</p>
        </div>
    <div class="icon-bar">
        <a class="active" href="{% url 'home' %}"><i class = "fa fa-home"></i></a>
        <a href="https://www.google.com"><i class="fa fa-search"></i></a>
        <a href="https://mail.google.com"><i class="fa fa-envelope"></i></a>
        <a href="https://www.google.com/maps"><i class="fa fa-globe"></i></a>
    </div>
    </header>
</body>
</html>