*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    line-height: 1.5;
    color:#333;
    overflow-x: hidden;
}
.header{
    width:100%;
    height:80px;
    display:block;
    background-color: white;
}
.inner_header{
    width: 1000px;
    height: 100%;
    display:block;
    margin: 0 auto;
}
.logo_container{
    width: 48px;
    padding-right:20px;
    position: absolute;
    top:-20px;
    left:10px;
}
.navigation{
    display: flex;
    flex-direction: row;
    height:100%;
   
    
}
.navigation a{
    height: 100%;
}
.navigation a li{
    list-style: none;
    height:100%;
    font-family: 'Montserrat';
    font-size: 30px;
    padding: 20px 20px;
    padding-top: 10px;
}
.log_sign{
    height: 60%;
    display: flex;
    flex-direction: row;
    position: relative;
    top:-100px;
    left:1000px;
}
.log_sign button{
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    margin-left: 10px;
    font-family: arial;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
}


.v-header{
    height:100vh;
    display:flex;
    align-items: center;
    color:#fff;
    position: absolute;
    top:80px;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
    position: absolute;
    top:0;
    left:0;
    width:155%;
    height:100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    background: #225470;
    z-index:1;
    opacity: 0.3;
}

.header-content{
    z-index: 2;
    position: relative;
    left: 250px;
}

.header-content h1{
    font-size:50px;
    margin-bottom: 0;
}

.header-content p {
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
}

.btn{
    background: #34b3a0;
    color: #fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration:none;
}
.icon-bar{
    width: 90px;
    background-color:#555;
    position: absolute;
    left: 10px;
    z-index:2;
}

.icon-bar a{
    display: block;
    text-align: left;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover{
    background-color: #000;
}
.active{
    background-color: #4CAF50;
}

@media(max-width:960px){
    .container{
        padding-right:3rem;
        padding-left:3rem;
    }
}


